.box{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
  /*  animation-name: ak;
    animation-duration: 1s;
    animation-timing-function: 0;
    animation-iteration-count: infinite;*/

}
@keyframes ak{
    0% {
        left:0;
        top: 0px;
        background-color: blue;
    
    }
    50% {
        left:50vw;
        top: 50vh;
        background-color: green;
    }
     100% {
         left:100vw;
         top: 0px;
         background-color: gray;

     }
}
@keyframes move{
    0% {
      font-size: 0;
    
    }
    80% {
      font-size: 1.1rem;
    }
     100% {
        font-size: 1.0rem;
        am

     }
}
h3{
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: 0;
    animation-iteration-count: 1;
}