h1{
    text-align: center;
}
.animate{
    width: 100px;
    height: 50px;
    display: flex;
   
}
.move{
    background-color: red;
    animation: move-right 2s infinite alternate;

}
@keyframes move-right{
    0%{
 transform: translateX(0px);
    }
    100%{
        transform: translateY(100px);
    }
}
.scale{
    background-color: darkgreen;
    animation:scale-up 2s infinite alternate;
  }
  .rotate{
    background-color: fuchsia;
    animation: rotate 2s infinite alternate;
  }
  .fade{
    background-color: darkslategray;
    animation: fade 2s infinite alternate;
  }
  .color{
    background-color: red;
    animation: color-change 2s infinite alternate;
  }
  @keyframes scale-up{
    0%{transform: scale(1,);}
    100%{transform: scale(1.2);}
}
@keyframes rotate{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
 @keyframes fade{
    0%{opacity: 0;}
    100%{opacity: 100px;}
 }
 @keyframes color-change{
    0%{background-color: red;}
    100%{background-color: yellow;}
 }